---
---

@import "{{ site.theme }}";

header li.blue {
    background: -moz-linear-gradient(top, #91AFC9 0%, #820011 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #91AFC9 0%, ##495F72 100%);
    background: -o-linear-gradient(top, #91AFC9 0%, ##495F72 100%);
    background: -ms-linear-gradient(top, #91AFC9 0%, ##495F72 100%);
    background: linear-gradient(top, #91AFC9 0%, ##495F72 100%);
    border: 1px solid #0D0D0D;
    -webkit-box-shadow: inset 0px 1px 1px 0 #e90226;
    box-shadow: inset 0px 1px 1px 0 #e90226;
}
