*{
	margin:0;
	padding:0;
}

html, body{
	height: 100%;
}

#container{
	max-width:1000px;
	margin:0 auto;
}
.row{
      display:flex;
	flex-direction:row;
    }
    header, nav{
            flex: 1 1 50%;
    }
nav{
	text-align:right;
	align-self:center;
}
nav li{
  display:inline-block;
  margin-right:0 1em;
}
nav li:last-child{
	margin-right:0;
}
.col{
      flex: 1 1 50%;
      margin-right:4%;
      margin-bottom:4%;
      position:relative;
    }

.col:last-child{
      margin-right: 0;
    }

.responsive-img{
      width:100%;
    }
.caption{
      background-color: rgba(0, 0, 0, 0.5);      
      color:#fff;
      width:100%;
      position:absolute;
      bottom:4px;
    }
.caption li{
      padding:3px;
      list-style-type: none;
     }

@media(max-width:32em){
	.row{
	flex-direction:column;
    }
	.col, .col:last-child{
      margin: 4%;
    }
